@keyframes bounce{
  0% {
    transform: scale(1) rotateZ(0deg);
  }
  100% {
    transform: scale(1.2) rotateZ(-10deg);
  }
}

@keyframes text-scale{
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}